body , html {
    padding: 0;
    margin: 0;
}

body {
    background: #202040;
}

.text-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.textarea {
    margin-top: 5px;
    background-color: #202040;
    color: white;
    border: none;
    display: block;
    font-size: 15px;
    direction: rtl;
    font-family: IranSans;
}

.publish {
    background-color: rgba(0,0,0,0);
    border: 1px solid #1089ff ;
    color: #1089ff;
    font-size: 18px;
    padding: 9px;
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.2s;
    float: left;
}

.publish:hover {
    background: #1089ff;
    color: white;
}


.titlearea {
    background-color: #202040;
    color: white;
    border: none;
    display: block;
    font-size: 19px;
    direction: rtl;
    font-weight: bolder;
    font-family: IranSans;
    width: 100%;
}

.test-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}